
  /* Estilos para los formularios */
  o-form[attr="contactDetail"] {
    background-color: #d5e9de;
    border: 2px solid #a8d5ba;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Contenedor con fxLayout row para manejar las filas */
  [fxLayout="row"] {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Inputs de texto y email */
  o-text-input, o-email-input {
    display: block;
    width: 86%;
    padding: 10px;
    margin: 10px 0;
    background-color: #F5F5F5;
    border: 1px solid #c8e6c9;
    border-radius: 5px;
    font-size: 14px;
    color: #2f4f4f;
    box-sizing: border-box;
  }
  
  

  