<o-form #form attr="studentsDetail" service="students" entity="student" keys="id" header-actions="I;U;D"
  show-header-navigation="no">
  <div o-form-toolbar-buttons>
    <o-button attr="backButton" class="o-form-toolbar-button" type="RAISED" icon="keyboard_backspace" label="Go back"
      (click)="location.back()" *ngIf="mostrarBoton" color="primary"></o-button>
  </div>
  <mat-tab-group oTabGroup="material" color="primary" id="tabGroup" animationDuration="0ms">
    <mat-tab label="{{'Main data'|oTranslate}}">
      <o-text-input #idNumber hidden attr="id" sql-type="INTEGER" enabled="no" />
      <div class="grid-container">
        <div class="datosPrincipales">
        <fieldset title="Datos personales" class="datos">
          <legend>{{"Personal data"|oTranslate}}</legend>
          <div class="datosPrincipales1">
            <div class="foto">
              <o-image #UsrPhoto attr="usr_photo" empty-image="assets/images/no-image.png"
                       sql-type="OTHER" class="avatar" (onChange)="onImageChange($event)"
                       max-file-size="409600" accept-file-type="image/png,image/jpeg,image/gif,image/jpg"
                       label="PROFILE.EDIT_PHOTO" ></o-image>
                       <p class="p_info_foto">{{'Info_foto' | oTranslate}}</p>
            </div>

            <div>
              <label for="name">{{'REQ_LNAME'|oTranslate}}</label>
              <o-text-input attr="name" [validators]="validatorsWithoutSpace" required="yes" id="name" max-length="255"
                (input)="toUpperCamelCase($event)"></o-text-input>
            </div>
            <div>
              <label for="surname1">{{'REQ_LSURNAME1'|oTranslate}}</label>
              <o-text-input attr="surname1" [validators]="validatorsWithoutSpace" required="yes" max-length="255"
                (input)="toUpperCamelCase($event)"></o-text-input>
            </div>
            <div>
              <label for="surname2">{{'LSURNAME2' | oTranslate}}</label>
              <o-text-input attr="surname2" required="no" max-length="255"
                (input)="toUpperCamelCase($event)"></o-text-input>
            </div>
          </div>
          <div class="datosPrincipales2">
            <div class="sepGitUdemy">
              <div class="githubUser">
                <label for="LGITHUB_USER">{{'LGITHUB_USER' | oTranslate}}</label>
                <o-text-input attr="github_user" required="no" max-length="200"></o-text-input>
              </div>
              <div class="udemy">
                <div class="checkbox-container">
                  <o-checkbox attr="udemy"></o-checkbox>
                </div>
              </div>
            </div>
            <div class="dni">
              <label for="LDNI">{{'LDNI' | oTranslate}}</label>
              <o-nif-input attr="dni" label="{{'NIF' | oTranslate}}" read-only="no" required="no"
                (onBlur)="mostrar($event)"></o-nif-input>
              <div class="aviso" *ngIf="showNotice">
                <link rel="stylesheet" />
                <label for="dni">{{'DNI_WARNING'|oTranslate}}<mat-icon svgIcon="ontimize:warning"></mat-icon></label>
              </div>
            </div>
            <div>
              <label for="REQ_LBIRTHDATE">{{'LBIRTHDATE' | oTranslate}}</label>
              <o-date-input attr="birth_date" required="no" format="DD/MM/YYYY"></o-date-input>
            </div>
            <div>
              <label for="LSPAINCOMUNITY">{{'LSPAINCOMUNITY' | oTranslate}}</label>
              <o-combo attr="spain_comunity" [static-data]="dataArray" [data]="valueSimple" required="no"
                searchable="yes" value-column="key" columns="key;value" visible-columns="value"
                null-selection="false"></o-combo>
            </div>
            <div>
              <label for="location">{{'LLOCATION' | oTranslate}}</label>
              <o-text-input attr="location" required="no" (input)="toUpperCamelCase($event)"></o-text-input>
            </div>

            <label for="student_status">{{'LSTATUS' | oTranslate}}</label>
            <o-combo attr="student_status_id" label="{{'LSTATUS' | oTranslate}}" required="no" translate="yes"
              null-selection="false" [data]="[]" service="studentstatus" entity="studentStatus" keys="id"
              columns="id;status" value-column="id" description-columns="status" query-on-init="true" sort="ASC">
            </o-combo>
          </div>
        </fieldset>
      </div>
        <div class="gridDatos">
          <div class="login">
            <fieldset title="Login">
              <legend>Login</legend>
              <div class="usuario">
                <label for="usuario">{{'USER' | oTranslate}}</label>
                <o-text-input attr="usr_login" [validators]="validatorsWithoutSpace" required="no" id="name"
                  max-length="255"></o-text-input>
              </div>
              <div class="contraseña">
                <label for="contraseña">{{'PASSWORD' | oTranslate}}</label>
                <o-password-input attr="usr_password" required="no" in-length="8"
                  [validators]="validatorsNewPasswordArray">
                  <o-validator error-name="hasCapitalCase" error-text="VALIDATOR.HASCAPITALCASE"></o-validator>
                  <o-validator error-name="hasNumber" error-text="VALIDATOR.HASNUMBER"></o-validator>
                  <o-validator error-name="hasSmallCase" error-text="VALIDATOR.HASSMALLCASE"></o-validator>
                </o-password-input>
              </div>
            </fieldset>
          </div>
          <div class="contacto">
            <fieldset title="Fct">
              <legend>{{"Contact"|oTranslate}}</legend>
              <div>
                <label for="REQ_LPHONE">{{'LPHONE' | oTranslate}}</label>
                <o-phone-input attr="phone" required="no"></o-phone-input>
              </div>
              <div>
                <label for="REQ_LEMAIL">{{'REQ_LEMAIL'|oTranslate}}</label>
                <o-email-input attr="personal_email" required="yes"></o-email-input>
              </div>
              <div>
                <label for="LCAMPUS_EMAIL">{{'LCAMPUS_EMAIL' | oTranslate}}</label>
                <o-email-input attr="campus_email" required="no"></o-email-input>
              </div>
            </fieldset>
          </div>
        </div>

      </div>
    </mat-tab>
    <mat-tab label="{{'DocumentsAndBootc'|oTranslate}}">
      <div class="documentsGrid">
        <o-form-layout-manager>
          <div class="container_students">
            <fieldset class="fieldsetDoc">
              <legend>{{'STUDENT_FILES' | oTranslate}} </legend>
              <div class="separadorFile">
                <o-file-input class="o-file-input" #fileinput attr="file" label="{{ 'Upload Document' | oTranslate }}"
                  service="documents" entity="upload" max-file-size="1000000" multiple="yes" max-num-files="5"
                  split-upload="false" key="student_id" [additional-data]="getFileData()" (input)="onFileUpload()"
                  (onUpload)="onUploadFiles($event)" (onError)="onError($event)">
                </o-file-input>
                <o-button class="o-form-toolbar-button" (click)="refreshFileInput()" label="{{ 'CLEAR' | oTranslate }}"
                  color="primary"></o-button>
              </div>
              <o-table #documentsTable class="general_table_primera" attr="documentsTable" service="documents"
                entity="studentdocument" keys="id" parent-keys="student_id:id" columns="id;name" visible-columns="name"
                detail-mode="false" show-report-on-demand-option="false" show-charts-on-demand-option="false"
                refresh-button="false" insert-button="false" quick-filter="false"
                show-paginator-first-last-buttons="false" select-all-checkbox-visible="true" selection-mode="none"
                pagination-controls="no">
                <o-table-context-menu view-detail="false" edit="false" delete="false"
                  insert="false"></o-table-context-menu>
                <o-table-column attr="name" title="Document title"></o-table-column>
                <o-table-column attr="Download" width="10px">
                  <o-table-cell-renderer-action (onClick)="actionClick($event)"
                    icon="download"></o-table-cell-renderer-action>
                </o-table-column>
              </o-table>
            </fieldset>
          </div>
        </o-form-layout-manager>
        <div class="estudiantesDocumentos">
          <o-form-layout-manager class="selectedrow" attr="addStudentLayout" mode="dialog">
            <o-form-layout-dialog-options class="popup">
              <fieldset class="fieldsetDoc">
                <legend align="left">{{'Bootcamps Asigned' | oTranslate}}</legend>
                <o-table class="general_table_segunda" attr="bootcampsStudentTable" service="studentBootcamps"
                  entity="studentsWithBootcamp" keys="id" parent-keys="student_id:id"
                  columns="id;bootcampname;status;start_date;end_date"
                  visible-columns="bootcampname;status;start_date;end_date" detail-mode="none"
                  show-report-on-demand-option="false" show-charts-on-demand-option="false"
                  select-all-checkbox-visible="true" quick-filter="false" selection-mode="none" insert-form-route="new">
                  <o-table-paginator page-size="20" page-size-options="10;20;40"></o-table-paginator>
                  <o-table-context-menu view-detail="false" edit="false" delete="false"
                    insert="false"></o-table-context-menu>
                  <o-table-column attr="bootcampname" title="Bootcamp name"></o-table-column>
                  <o-table-column attr="start_date" title="DayStart" type="date" format="DD/MM/YYYY"></o-table-column>
                  <o-table-column attr="end_date" title="DayEnd" type="date" format="DD/MM/YYYY"></o-table-column>
                </o-table>
              </fieldset>
            </o-form-layout-dialog-options>
          </o-form-layout-manager>
        </div>
        <div *ngIf="showMessage" class="notification">
          <label for="subida">{{ 'subida' | oTranslate }}</label>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{'Employment status'|oTranslate}}">
      <div class="grid-Employment">
        <fieldset title="Historial laboral">
          <legend>{{"Historial_Laboral"|oTranslate}}</legend>
          <div class="container_employment">
            <o-text-input attr="employment_status" label="{{'LEMSTATUS_ACTUAL' | oTranslate}}" translate="yes"
              read-only="yes" service="employmentstatus" entity="employmentStatus" hidden></o-text-input>
            <label for="employment_status">{{'LEMSTATUS_ACTUAL' | oTranslate}}: &nbsp;</label>
            <p>{{form.getDataValue('employment_status').value}}</p>
          </div>
          <div class="container_students">
            <h3>{{ 'Historial_Laboral' | oTranslate }}</h3>
            <o-form-layout-manager attr="employmentstatushistory" mode="dialog">
              <o-form-layout-dialog-options class="popup"></o-form-layout-dialog-options>
              <o-table class="general_table_primera" insert-form-route="new_employment_history"
                attr="employmentstatushistory" service="employmentstatushistory" entity="employmentStatusHistory"
                keys="id" parent-keys="student_id:id" (onDataLoaded)="refreshEmploymentStatus()"
                columns="id;student_id;situation;employment_status_id;status_date_change;description"
                visible-columns="situation;status_date_change;description" show-report-on-demand-option="false"
                show-charts-on-demand-option="false" select-all-checkbox-visible="true" quick-filter="false"
                sort-columns="status_date_change:DESC" sort-columns="status_date_change:DESC" selection-mode="none"
                pagination-controls="false" selection-mode="multiple" select-all-checkbox-visible="true">
                <o-table-column attr="situation" title="situation" type="string" content-align="center"
                  title-align="center">
                </o-table-column>
                <o-table-column attr="status_date_change" title="date_change" type="date" format="DD/MM/YYYY"
                  content-align="center" title-align="center">
                </o-table-column>
              </o-table>
            </o-form-layout-manager>
          </div>
        </fieldset>
      </div>
    </mat-tab>
    <mat-tab label="{{'FCT Information'|oTranslate}}">
      <div class="fct-container">
        <fieldset title="fct" class="fct-grid">
          <legend>{{"FCT Information"|oTranslate}}</legend>
          <div>
            <label for="fct_school">{{'LFCT_SCHOOL' | oTranslate}}</label>
            <o-text-input attr="fct_school" required="no" max-length="100"
              (input)="toUpperCamelCase($event)"></o-text-input>
          </div>
          <div>
            <label for="tutor">{{'LTUTOR' | oTranslate}}</label>
            <o-combo attr="tutor" service="tutors" entity="tutor" required="no" searchable="yes" value-column="id"
              columns="id;name;surname1;surname2" visible-columns="name;surname1;surname2" null-selection="true"
              sortable="yes" sort="ASC">
            </o-combo>
          </div>
          <div>
            <label for="LFCT_START">{{'LFCT_START' | oTranslate}}</label>
            <o-date-input #startdate attr="fct_start" required="no" format="DD/MM/YYYY"
              (onValueChange)="throwChange(enddate)">
              <o-validator error-name="wrongendate" error-text="END_DATE_MORE_THAN_INIT_DATE"></o-validator>
            </o-date-input>
          </div>
          <div>
            <label for="LFCT_END">{{'LFCT_END' | oTranslate}}</label>
            <o-date-input #enddate attr="fct_end" required="no" [validators]="validatorsArray" format="DD/MM/YYYY"
              (onValueChange)="throwChange2(startdate)">
              <o-validator error-name="wrongendate" error-text="END_DATE_MORE_THAN_INIT_DATE"></o-validator>
            </o-date-input>
          </div>
        </fieldset>
        <div class="notes">
          <fieldset title="Notas">
            <legend for="LNOTES">{{'LNOTES' | oTranslate}}</legend>
            <o-textarea-input attr="notes" required="no" max-length="1000"></o-textarea-input>
          </fieldset>
        </div>
      </div>
      <div *ngIf="showMessage" class="notification">
        <label for="subida">{{ 'subida' | oTranslate }}</label>
      </div>
    </mat-tab>
  </mat-tab-group>
</o-form>
