<o-form attr="studentsDetail" service="students" entity="student" keys="id" header-actions="I;U;D" show-header-navigation="yes" >
  <div o-form-toolbar-buttons>
    <o-button attr="backButton" class="o-form-toolbar-button"  type="RAISED" icon="keyboard_backspace" label="Go back" (click)="location.back()" *ngIf="mostrarBoton" color="primary"></o-button>
  </div>

  <o-text-input hidden attr="id" sql-type="INTEGER" enabled="no"/>
    <div class="grid-container">
    <div class="nombre">
      <label for="name">{{'LNAME'|oTranslate}}</label>
      <o-text-input attr="name" required="yes" id="name" max-length="255" (input)="toUpperCamelCase($event)"></o-text-input>
    </div>
    <div class="apellido">
      <label for="dni">{{'LDNI' | oTranslate}}</label>
      <o-nif-input attr="dni" label="NIF" read-only="no" required="yes" (input)="toUpperCase($event)"></o-nif-input>
    </div>
    <div class="apellido2">
      <label for="surname2">{{'LSURNAME2' | oTranslate}}</label>
      <o-text-input attr="surname2" required="no" max-length="255" (input)="toUpperCamelCase($event)"></o-text-input>
    </div>
    <div class="dni">
      <label for="LDNI">{{'LDNI' | oTranslate}}</label>
      <o-nif-input attr="dni" label="NIF" read-only="no" required="yes"></o-nif-input>
    </div>
    <div class="telefono">
      <label for="LPHONE">{{'LPHONE' | oTranslate}}</label>
      <o-phone-input attr="phone" required="yes" ></o-phone-input>
    </div>
    <div class="employmentStatus">
      <label for="employment_status">{{'LEMSTATUS' | oTranslate}}</label>
      <o-text-input attr="employment_status" required="yes" max-length="20" (input)="toUpperCamelCase($event)"></o-text-input>
    </div>

    <div class="status">
      <label for="LSTATUS">{{'LSTATUS' | oTranslate}}</label>
      <o-combo
      attr="status" required="yes" translate="yes"  [static-data]="[
      { key: 'NOT_ELIGIBLE' },
      { key: 'UNDER_REVIEW' }
    ]"
      value-column="key"
      columns="key"
      visible-columns="key"
      required="yes">

    </o-combo>
    </div>
    <div class="comunidad">
      <label for="LSPAINCOMUNITY">{{'LSPAINCOMUNITY' | oTranslate}}</label>
      <o-combo attr="spain_comunity"   [static-data]="dataArray"
      [data]="valueSimple" required="yes"  searchable="yes"  value-column="key"
      columns="key;value"  visible-columns="value"></o-combo>
    </div>

    <div class="location">
      <label for="location">{{'LLOCATION' | oTranslate}}</label>
      <o-text-input attr="location" required="no" (input)="toUpperCamelCase($event)"></o-text-input>
    </div>


    <div class="fechaCumple">
      <label for="LBIRTHDATE">{{'LBIRTHDATE' | oTranslate}}</label>
      <o-date-input attr="birth_date" required="yes"  format="DD/MM/YYYY"></o-date-input>
    </div>
    <div class="email">
      <label for="LEMAIL">{{'LEMAIL'|oTranslate}}</label>
      <o-email-input attr="personal_email" required="yes" ></o-email-input>
    </div>
    <div class="emailCampus">
      <label for="LCAMPUS_EMAIL">{{'LCAMPUS_EMAIL' | oTranslate}}</label>
      <o-email-input attr="campus_email" required="no" ></o-email-input>
    </div>
    <div class="fctSchool">
      <label for="fct_school">{{'LFCT_SCHOOL' | oTranslate}}</label>
      <o-text-input attr="fct_school" required="no" max-length="100"
      (input)="toUpperCamelCase($event)"></o-text-input>
    </div>
    <div class="tutor">
      <label for="tutor">{{'LTUTOR' | oTranslate}}</label>
      <o-text-input attr="tutor" required="no" max-length="200" (input)="toUpperCamelCase($event)"></o-text-input>
    </div>
    <div class="fctStart">
      <label for="LFCT_START">{{'LFCT_START' | oTranslate}}</label>
      <o-date-input #startdate attr="fct_start" required="no"
                    format="DD/MM/YYYY" (onValueChange)="throwChange(enddate)">
        <o-validator error-name="wrongendate" error-text="END_DATE_MORE_THAN_INIT_DATE"></o-validator>
      </o-date-input>
    </div>
    <div class="fctEnd">
      <label for="LFCT_END">{{'LFCT_END' | oTranslate}}</label>
      <o-date-input #enddate attr="fct_end" required="no" [validators]="validatorsArray"
                    format="DD/MM/YYYY" (onValueChange)="throwChange2(startdate)">
        <o-validator error-name="wrongendate" error-text="END_DATE_MORE_THAN_INIT_DATE" ></o-validator>
      </o-date-input>

    </div>

    <div class="udemy">
      <label for="LUDEMY">{{'LUDEMY' | oTranslate}}</label>
      <o-checkbox attr="udemy"></o-checkbox>
    </div>
    <div class="table_container" >

      <o-table class="general_table" attr="bootcampsStudentTable" service="studentBootcamps" entity="studentsWithBootcamp" keys="id"
        parent-keys="student_id:id" columns="id;bootcampname" visible-columns="bootcampname"
        detail-mode="false" delete-button="false" show-report-on-demand-option="false" show-charts-on-demand-option="false" refresh-button="false">
        <o-table-paginator page-size="20" page-size-options="10;20;40"></o-table-paginator>
        <o-table-context-menu view-detail="false" edit="false" delete="false" insert="false"></o-table-context-menu>
        <o-table-column attr="bootcampname" title="Bootcamp name"></o-table-column>
      </o-table>
      </div>
    <div class="githubUser">
      <label for="LGITHUB_USER">{{'LGITHUB_USER' | oTranslate}}</label>
      <o-text-input attr="github_user" required="no" max-length="200"></o-text-input>
    </div>
    <div class="notes">
      <label for="LNOTES">{{'LNOTES' | oTranslate}}</label>
      <o-textarea-input attr="notes" required="no" max-length="1000"></o-textarea-input>
    </div>
  </div>
</o-form>
