* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

o-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.grid-container {
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
  /* height: auto; */
}


.marcos {
  border-radius: 15px;
  background-color: #f5f0f2;
  border: solid 1px #aaaaaa;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.pepe {
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  gap: 5px;
  padding: 20px;
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  height: auto;
  padding: 30px;
}

.datos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 15px;
  grid-column: 1/3;

}

.datosPrincipales1{
  grid-column: 1/3;
  padding-left: 40px;
  padding-top: 20px;
  width: 70%;

}

.datosPrincipales2{
  grid-column: 3/4;
  padding-top: 20px;
  padding-right: 40px;

}

.datos1 {
  border-radius: 15px;
  grid-column: 3/4;
}



.grouptab {
  color: #f5f0f2;
}

.nombre {
  grid-column: 1/ 2;
}

.apellido {
  grid-column: 2 / 3;
}

.apellido2 {
  grid-column: 3 / 4;
}

.dni {
  grid-column: 1/ 2;
}

.usuario {
  grid-column: 2/ 3;
}

.contraseña {
  grid-column: 3 / 4;
}

.telefono {
  grid-column: 1 / 2;
}

.employmentStatus {
  grid-column: 1/2;
}

.status {
  grid-column: 2/3;
}

.comunidad {
  grid-column: 1/2;
}

.location {
  grid-column: 2/3;
}

.fechaCumple {
  grid-column: 3/4;
}

.email {
  grid-column: 1/3;
}

.emailCampus {
  grid-column: 3/3;
}
.fct-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
}

.fct-grid {
  border-radius: 15px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 20px;
}
.udemy
{
  padding-top: 20px;
}
.user-grid {
  border-radius: 15px;
  grid-column: 2 / 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.notes-grid {
  border-radius: 15px;
  grid-column: 2 / 3;
  grid-row: 2;
  padding: 20px;
}


/* .fctSchool {
  grid-column: 1/2;
}

.tutor {
  grid-column: 2/3;
}

.fctStart {
  grid-column: 1/2;
}


.fctEnd {
  grid-column: 2/3;
}

.udemy {
  grid-column: 3/3;
  grid-row: 2/7;
  width: 20%;
  padding-top: 22px;
  padding-left: 40px;

}

.githubUser {
  grid-column: 2/3;
  grid-row: 2/7;
  width: auto;

}

.notes {
  grid-column: 1/3;
  grid-row: 3/7;
  width: auto;
} */

/* .upload-container {
  grid-column: 1/2;
  grid-row: 8/9;

} */

.documentsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: #1a3459;
  border-radius: 5px;
  gap: 40px;
  padding-left: 10;
  padding-top: 30px;
  padding-right: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.StudentsFicheros {
  width: 100%;
  grid-column: 1/2;
}


.fileInput {
  width: 100%;
  grid-column: 1/2;
}

.container_students {
  height: auto;
  width: 100%;
  grid-column: 1/2;
  padding-left: 50px;
}

.estudiantesDocumentos{
  grid-column: 2/3;
  padding-right: 50px;
}

.contenedorBootcamps {
  width: 100%;
  height: 50%;
/*   grid-column: 2/3; */
  /* grid-column: 2/3; */
}

o-button {
  flex-shrink: 0;
  margin-bottom: 18px;
  width: 80px;
}
.input-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.o-file-input{
  grid-column: 1/2;
}

.o-form-toolbar-button{
  grid-column: 2/3;
  padding-left: 40px;
}

.general_table {
  background-color: #f5f0f2;
}

.marcos2{
color: #f5f0f2;
border-radius: 15px;
padding-left: 10px;
}



.primera {
  grid-column: 1/2;
  margin: 0%;
  height: 100%;
}

.segunda {

  width: 100%;
  margin: 0%;
  height: 85%;
}

.selectedrow {
  grid-column: 2/4;
  width: 100%;
}


@media (max-width: 1500px) {

  .grid-container,
  .table_container {
    width: 95%;
    padding: 15px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .nombre,
  .apellido2,
  .usuario,
  .telefono,
  .status,
  .location,
  .email,
  .fctSchool,
  .fctStart,
  .udemy {
    grid-column: 1/2;
  }

  .apellido,
  .dni,
  .contraseña,
  .employmentStatus,
  .comunidad,
  .fechaCumple,
  .emailCampus,
  .tutor,
  .githubUser,
  .fctEnd {
    grid-column: 2/3;
  }

  .notes {
    grid-column: 1/3;
  }

  .table_container {
    grid-column: 1/3;
    grid-row: 12;
  }

  .primera {
    grid-column: 1/5;
  }

  .selectedrow {
    width: 100%;
    grid-column: 1/5;
  }
}


div.notification label {
  grid-column: 1/3;
  grid-column: 1/3;
  background-color: #8AB237;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.notification.hide {
  opacity: 0;
}

.checkbox-container {
  padding: 0;
}
