<div class="combocontainer">
    <o-form #studentBootcampForm service="studentBootcamps" entity="studentBootcamp" editable-detail="yes" show-header="no"
      undo-button="false" label-header-align="center" after-insert-mode="new" keys="id"
      (onDataLoaded)="inicialDR()">
      <o-text-input attr="id" sql-type="INTEGER" enabled="no"></o-text-input>
      <o-combo attr="student_id" label="Students" value-column="id" columns="id;name;surname1;surname2" service="students"
        entity="student" visible-columns="name;surname1;surname2" required="yes" searchable="yes" sortable="yes" sort="ASC" null-selection="no" >
      </o-combo>
      <label for="LSTATUS">{{'LSTATUS' | oTranslate}}</label>
      <o-combo attr="status" required="yes" translate="yes" [static-data]="[
      { key: 'Candidato' },
      { key: 'Contactado' },
      { key: 'Confirmado' },
      { key: 'Cancelado' },
      { key: 'Activo' },
      { key: 'Finalizado contratable' },
      { key: 'Finalizado no contratabl' },
      { key: 'No finalizado' },
    ]" value-column="key" columns="key" visible-columns="key" required="yes" null-selection="false">
      </o-combo>
  
      <div class="especial fecha-inicio">
        <o-date-input #startdate label-visible="false" class="fechas" attr="start_date" required="yes" 
        format="DD/MM/YYYY" 
         ></o-date-input>
      </div>
  
      <div class="especial fecha-fin">
        <o-date-input #enddate label-visible="false" attr="end_date" required="yes" 
          format="DD/MM/YYYY"
          >
        </o-date-input>
      </div>
  
  
      <div fxLayout="column" layout-padding>
          <label class="input-comp-title">{{ 'Fecha Inicio/Fecha Fin*' | oTranslate }}</label>
          <o-daterange-input attr="dateRangeBootcamp" read-only="no" 
            required="yes" format="DD/MM/YYYY"  automatic-binding="false" (onValueChange)="throwChange($event)"
            show-week-numbers="true" mode="desktop" label-visible="false">
          </o-daterange-input>
      </div>
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap style="margin-top: 10px;">
        <o-button attr="addbutton" id="Update" type="RAISED" label="Update" color="primary"
        (onClick)="updateStudentBootcamp()"></o-button>
      </div>
  
    </o-form>
  </div>
  