<div class="container" >
    
    <o-form attr="bootcampsDetail" service="bootcamps" entity="bootcamp" keys="id" show-header="no" (onDataLoaded)="onBootcampChange($event)">
        <div class="date-input-container" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
          <o-date-input #startdate fxFlex="40" attr="start_date" required="yes" format="DD/MM/YYYY" enabled="no"></o-date-input>
          <o-date-input #enddate fxFlex="40" attr="end_date" required="yes" format="DD/MM/YYYY" enabled="no"></o-date-input>
        </div>
    </o-form>
    <div class="button-container">
      <mat-card class="calendar-card" *ngIf="selected">
        <mat-calendar [dateClass]="dateClass" #picker [startAt]="startAtDate">
        </mat-calendar>
      </mat-card>
    </div>
  </div>
  