<o-form #holidays_details confirm-exit="no" attr="holidays_details" service="holidays" entity="holidays" keys="id"
    show-header="no" header-actions="I;U;D" show-header-navigation="no">
    <o-text-input attr="id" sql-type="INTEGER" enabled="no" hidden></o-text-input>

    <div class="grid-container">
        <div>
            <label for="REQ_LTUTORTYPE">{{'REQ_LTUTORTYPE' | oTranslate}}</label>
            <o-text-input attr="name" label-visible="false" required="yes"></o-text-input>
        </div>
        <div>
            <o-date-input attr="holiday_date" required="yes"  format="DD/MM/YYYY">
            </o-date-input>
        </div>
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap style="margin-top: 10px;">
            <o-button attr="addbutton" id="Add" type="RAISED" label="Addd" color="primary" (click)="holidays_details.insert()"></o-button>
        </div>
    </div>
</o-form>