<o-form #holidays_details confirm-exit="no" attr="holidays_new" service="holidays" entity="holidays" keys="id"
    show-header="no" header-actions="R;I;U;D" show-header-navigation="no" (onInsert)="volver($event)">
    <div class="grid-container">
        <div>
            <label for="REQ_LNAME">{{'REQ_LNAME' | oTranslate}}</label>
            <o-text-input [validators]="validatorsWithoutSpace" attr="name" label-visible="false" required="yes"></o-text-input>
        </div>
        <div>
            <label for="REQ_LHOLIDAY_DATE">{{'REQ_LHOLIDAY_DATE' | oTranslate}}</label>
            <o-date-input  attr="holiday_date" required="yes" format="DD/MM/YYYY">
            </o-date-input>
        </div>
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap style="margin-top: 10px;">
            <o-button attr="addbutton" id="Add" type="RAISED" label="Add" color="primary"
                (click)="holidays_details.insert()"></o-button>
        </div>
    </div>
</o-form>