<o-form-layout-manager attr="bootcampsLayout" mode="tab" label-columns="name" title="{{'Students' | oTranslate}}">
    <div class="table_container">
        <o-form editable-detail="no" show-header="no" layout-align="start stretch" class="students-filters-form" fxFill>
            <o-column-collapsible  title="{{'FILTERS' | oTranslate}}" appearance="legacy" expanded="no"
                icon="filter_list" class="collapsible-2">

                <div class="filter_style">
                    <o-combo #type attr="tutor" label="{{'TUTOR' | oTranslate}}" read-only="no"
                        service="tutors" entity="tutor" keys="id"
                        columns="id;name" value-column="id" description-columns="name" query-on-init="true"
                        visible-columns="name" translate="yes" null-selection="true"></o-combo>

                    <o-combo #type attr="employment_status_id" label="{{'LEMSTATUS' | oTranslate}}" read-only="no"
                        service="employmentstatus" entity="employmentStatus" keys="id"
                        columns="id;situation" value-column="id" description-columns="situation" query-on-init="true"
                        visible-columns="situation" translate="yes" null-selection="true"></o-combo>

                    <o-combo class="udemy" #type attr="udemy" read-only="no"
                        [static-data]="[{'value': 'true', 'label': 'Active' | oTranslate},{'value': 'false', 'label': 'Inactive' | oTranslate}]"
                        service="students" entity="student" columns="udemy" value-column="value" keys="id"
                        visible-columns="label" translate="yes"></o-combo>

                    <o-combo class="estado" #type attr="student_status_id" label="{{'STATUS' | oTranslate}}" read-only="no"
                        service="studentstatus" entity="studentStatus" columns="id;status" value-column="id"
                        visible-columns="status" keys="id" translate="yes"></o-combo>

                    <o-combo class="spain_comunity" attr="spain_comunity" read-only="no" service="students"
                        entity="student" columns="spain_comunity" [static-data]="dataArray" value-column="key"
                        visible-columns="value" searchable="yes"></o-combo>
                    <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="STROKED"
                        label="{{'CLEAR' | oTranslate}}" layout-padding></o-button>
                </div>



                <o-filter-builder #filterBuilder attr="thefilter"
                    filters="tutor:tutor;udemy:udemy;student_status_id:student_status_id;spain_comunity:spain_comunity;employment_status_id:employment_status_id;id;"
                    [target]="tableStudents" query-on-change="yes" query-on-change-delay="500"
                    [expression-builder]="createFilter"></o-filter-builder>
            </o-column-collapsible>

            <div>
              <h1 class="titulo_tablas">{{ 'Students' | oTranslate }}</h1>
              <o-table #tableStudents virtual-scroll="false" class="general_table" attr="studentsTable" service="students"
                sort-columns="name" entity="student" keys="id"
                columns="id;name;surname1;personal_email;surname2;dni;birth_date;phone;situation;employment_status_id;udemy;campus_email;fct_school;fct_start;fct_end;tutor;github_user;notes;email;surnames;spain_comunity;location;situation;user_id;student_status_id"
                visible-columns="name;surname1;surname2;dni;personal_email;situation" delete-button="false"
                show-report-on-demand-option="false" show-charts-on-demand-option="false" title="Students"
                >
                <o-table-column attr="name" title="Name"></o-table-column>
                <o-table-column attr="surname1" title="FIRST_SURNAME"></o-table-column>
                <o-table-column attr="surname2" title="LAST_SURNAME"></o-table-column>
                <o-table-column attr="dni" title="DNI"></o-table-column>
                <o-table-column attr="personal_email" title="Email"></o-table-column>
                <o-table-column attr="status" type="translate" title="status"></o-table-column>
                <o-table-context-menu insert="false" edit="false" view-detail="false" delete="false">
                </o-table-context-menu>
                <o-table-paginator page-size="20" page-size-options="10;20;40"></o-table-paginator>
              </o-table>
            </div>
        </o-form>
    </div>
</o-form-layout-manager>
