<div class="container">
  <o-combo class="general_combobox" attr="bootcamp_id" label="Bootcamps" value-column="id"
    columns="id;name;start_date;end_date" service="bootcamps" entity="bootcamp" visible-columns="name"
    searchable="yes" (onValueChange)="onBootcampChange($event)">
  </o-combo>
  <o-form attr="bootcampsDetail" service="bootcamps" entity="bootcamp" keys="id" show-header="no">
    <h3 class="titulo3">Duracion del Bootcamp</h3>
    <o-column fxFlex>
      <div class="date-input-container" fxLayout="row" fxLayoutGap="8px">
        <o-date-input #startdate fxFlex="40" attr="start_date" required="yes" format="DD/MM/YYYY" enabled="no"></o-date-input>
        <o-date-input #enddate fxFlex="40" attr="end_date" required="yes" format="DD/MM/YYYY" enabled="no"></o-date-input>
      </div>
    </o-column>
  </o-form>
  <div class="button-container">
    <mat-card class="calendar-card" *ngIf="selected">
      <mat-calendar [dateClass]="dateClass" #picker [startAt]="startAtDate">
      </mat-calendar>
    </mat-card>
  </div>
</div>



