.container {
  width: 50%; /* Reducir más el ancho */
  margin: 20px auto; /* Centrar y agregar margen */
  background-color: #d5e9de; /* Fondo */
  padding: 10px; /* Reducir el padding */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  font-family: 'Roboto', sans-serif; /* Fuente */
  font-size: 12px; /* Reducir el tamaño de la fuente */
  box-sizing: border-box; /* Asegurarse de que el padding no cause desbordamiento */
}

.general_combobox {
  width: 100%;
  margin-bottom: 20px;
}

.date-input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px; /* Reducir el padding */
  background-color: #d5e9de; /* Fondo */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  box-sizing: border-box; /* Asegurarse de que el padding no cause desbordamiento */
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.calendar-card {
  width: 70%; /* Reducir más el ancho */
  padding: 5px; /* Reducir más el padding */
  background-color: #c3e4d2; /* Fondo */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  font-family: 'Roboto', sans-serif; /* Fuente */
  font-size: 10px; /* Reducir más el tamaño de la fuente */
  box-sizing: border-box; /* Asegurarse de que el padding no cause desbordamiento */
  display: flex; /* Añadido para centrar el contenido */
  justify-content: center; /* Añadido para centrar el contenido */
  align-items: center; /* Añadido para centrar el contenido */
}

mat-calendar {
  width: 70%; /* Reducir más el ancho */
  font-size: 0.9em; /* Reducir más el tamaño de la fuente */
}

.demo-inline-calendar-card {
  width: 300px; /* Reducir más el ancho */
}

.titulo3 {
  background-color: #d5e9de;
  text-align: center;
  padding: 3px 0;
}

label {
  background-color: #d5e9de; /* Fondo verde */
  padding: 5px; /* Padding para que coincida con el diseño */
  border-radius: 5px; /* Bordes redondeados */
  display: inline-block; /* Asegurarse de que el padding se aplique correctamente */
}

