<div class="container">
  <h1>{{'CALENDAR'| oTranslate}}</h1>
  <o-combo class="general_combobox" attr="bootcamp_id" label="Bootcamps" value-column="id"
    columns="id;name;start_date;end_date" service="bootcamps" null-selection="no" entity="bootcamp" visible-columns="name"
    searchable="yes" (onValueChange)="onBootcampChange($event)">
  </o-combo>
  <o-form attr="bootcampsDetail" service="bootcamps" entity="bootcamp" keys="id" show-header="no">
    <h3 class="titulo3" fxLayoutAlign="center center">{{'BC_DUR'| oTranslate}}</h3>
      <div class="date-input-container" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
        <o-date-input #startdate fxFlex="40" attr="start_date" required="yes" format="DD/MM/YYYY" enabled="no"></o-date-input>
        <o-date-input #enddate fxFlex="40" attr="end_date" required="yes" format="DD/MM/YYYY" enabled="no"></o-date-input>
      </div>
  </o-form>
  <div class="button-container">
    <mat-card class="calendar-card" *ngIf="selected">
      <mat-calendar [dateClass]="dateClass" #picker [startAt]="startAtDate">
      </mat-calendar>
    </mat-card>
  </div>
  <o-form>
    <o-file-input #fileinput attr="file" fxFlex="50" label="{{'SUBIR_DOCUMENTOS' | oTranslate }}"
    service="documents" entity="upload" max-file-size="100000" multiple="yes" max-num-files="5"
    split-upload="false" key="student_id" [additional-data]="getFileData()" (input)="onFileUpload()"
    (onUpload)="onUploadFiles($event)" (onError)="onError($event)" fxFlex="100"></o-file-input>
  </o-form>
</div>
