.grid-container {
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.datosPersonales,
.sesiones {
  grid-column: 1 / 3;
}

.foto {
  margin-top: -30px; /* Ajusta según sea necesario */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%; /* Hace que la imagen sea circular */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Suaviza la transición */
  width: 200px;
}

.foto:hover {
  box-shadow: 0 0 20px 10px #1a3459; /* Crea el efecto de aura */
  transform: scale(0.9); /* Agranda ligeramente la imagen al pasar el ratón */
  border-radius: 50%;
}


.separatorCol {
  padding-top: 0; /* Elimina cualquier padding innecesario */
}


.datosPrincipales2{
  height: 26%;
}

.fraseInfo{
  color: gray;
  padding-top: 20px;
  font-size: 20px;
}

.personal-data-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nombre{
  display: flex;
  gap:10px
}

.apellido{
  display: flex;
  gap:10px
}

.apellido2{
  display: flex;
  gap:10px
}

.dni{
  display:flex;
  gap:10px;
}

.telefono{
  display:flex;
  gap:10px;
}

.fechaCumple{
  display:flex;
  gap:10px;
}

.location{
  display:flex;
  gap:10px;
}

.employmentStatus{
  display: flex;
  gap: 10px;
}

.emailCampus{
  display:flex;
  gap: 10px;
}

.email{
  display:flex;
  gap: 5px;
}

.fctSchool{
  display:flex;
  gap: 10px;
}

.tutor{
  display:flex;
  gap:10px;
}

.fctStart{
  display: flex;
  gap:10px;
}

.fctEnd{
  display:flex;
  gap:10px;
}

.udemy{
  display:flex;
  gap: 10px;
}

.githubUser{
  display:flex;
  gap:10px;
}

.separatorCol{
  padding-top: -50%;
}

.foto .ng-star-inserted{
  margin-top: -50px;
}

p {
  color: black;
  margin-top: 0px;
}

p:last-child {
  margin-bottom: 0;
}

fieldset {
  border-radius: 15px;
  padding: 20px;
  border: solid 2px #1a3459;
  border-radius: 15px;
}

.sesiones {
  margin-top: 0;
}

@media (max-width: 1812px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .foto {
    width: 180px;
    height: 180px;
  }

  fieldset {
    padding: 18px;
  }

  .o-table {
    width: 95%;
  }
}

.o-table {
  width: 97%;
  background-color: #f5f0f2;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.fila-completa {
  grid-column: 1 / -1;
  margin-top: 20px;
}
