.grid-container {
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.datosPersonales {
  grid-column: 1 / -1;  
}

.foto {
  grid-column: 1 / 4; 
  justify-self: center;
  align-self: center;
  margin-bottom: 0; 
  display: flex;   
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}



.personal-data-fields {
  display: flex;
  flex-wrap: wrap;  
  gap: 15px;  
  justify-content: space-evenly;
}

p {
  color: black;
  margin-top: 0;
}
p:last-child{
  margin-bottom: 0;
}

fieldset {
  border-radius: 15px;
  padding: 20px;
  border: solid 2px #1a3459;
  border-radius: 15px;
}
.p_info_foto{
  font-size: 12px;
  grid-column: 1 / 4; 
  justify-self: center;
  align-self: center;
  display: flex;   
  align-items: center;
  justify-content: center;
}
.foto_centrada{
  display: block;
}
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr  ; 
  }
}