<o-form-layout-manager attr="bootcampsLayout" mode="tab" label-columns="name" title="{{'PDATA'|oTranslate}}">
  <div class="main-container">
    <o-form #form attr="studentsDetail" service="students" entity="student" keys="id" header-actions="U;R"
      columns="id;name">
      <o-text-input #userId hidden attr="user_id" sql-type="INTEGER" enabled="no" />
      <o-text-input attr="id" sql-type="INTEGER" enabled="no" hidden/>
      <div class="grid-container">
        <div class="foto">
          <o-image attr="usr_photo" sql-type="OTHER" class="avatar"></o-image>
        </div>
        <div class="nombre">
          <label for="name">{{'DNAME'|oTranslate}}</label>
          <p>{{form.getDataValue('name').value}}</p>
        </div>
        <div class="apellido">
          <label for="surname1">{{'DSURNAME1'|oTranslate}}</label>
          <o-text-input attr="surname1" max-length="255"></o-text-input>
        </div>
        <div class="apellido2">
          <label for="surname2">{{'LSURNAME2' | oTranslate}}</label>
          <o-text-input attr="surname2" max-length="255"></o-text-input>
        </div>
        <div class="dni">
          <label for="LDNI">{{'DDNI' | oTranslate}}</label>
          <o-nif-input attr="dni" label="{{'NIF' | oTranslate}}"></o-nif-input>
        </div>
        <div class="telefono">
          <label for="LPHONE">{{'DPHONE' | oTranslate}}</label>
          <o-phone-input attr="phone"></o-phone-input>
        </div>
        <div class="employmentStatus">
          <label for="employment_status">{{'DEMSTATUS' | oTranslate}}</label>
          <o-text-input attr="employment_status" max-length="20"></o-text-input>
        </div>
        <div class="fechaCumple">
          <label for="LBIRTHDATE">{{'DBIRTHDATE' | oTranslate}}</label>
          <o-date-input attr="birth_date" format="DD/MM/YYYY"></o-date-input>
        </div>
        <div class="location">
          <label for="location">{{'LLOCATION' | oTranslate}}</label>
          <o-text-input attr="location"></o-text-input>
        </div>
        <div class="emailCampus">
          <label for="LCAMPUS_EMAIL">{{'LCAMPUS_EMAIL' | oTranslate}}</label>
          <o-email-input attr="campus_email"></o-email-input>
        </div>
        <div class="email">
          <label for="LEMAIL">{{'DEMAIL'|oTranslate}}</label>
          <o-email-input attr="personal_email"></o-email-input>
        </div>
        <div class="fctSchool">
          <label for="fct_school">{{'LFCT_SCHOOL' | oTranslate}}</label>
          <o-text-input attr="fct_school" max-length="100"></o-text-input>
        </div>
        <div class="tutor">
          <label for="tutor">{{'LTUTOR' | oTranslate}}</label>
          <o-text-input attr="tutor" max-length="200" sql-type="INTEGER"></o-text-input>
        </div>
        <div class="fctStart">
          <label for="LFCT_START">{{'LFCT_START' | oTranslate}}</label>
          <o-date-input attr="fct_start" required="no" format="DD/MM/YYYY">
          </o-date-input>
        </div>
        <div class="fctEnd">
          <label for="LFCT_END">{{'LFCT_END' | oTranslate}}</label>
          <o-date-input attr="fct_end" required="no" format="DD/MM/YYYY">
          </o-date-input>
        </div>
        <div class="udemy">
          <label for="LUDEMY">{{'LUDEMY' | oTranslate}}</label>
          <div class="checkbox-container">
            <o-checkbox attr="udemy"></o-checkbox>
          </div>
        </div>
        <div class="githubUser">
          <label for="LGITHUB_USER">{{ 'LGITHUB_USER' | oTranslate }}</label>
          <o-text-input attr="github_user" required="no" max-length="200"></o-text-input>
        </div>
      </div>
    </o-form>
  </div>
</o-form-layout-manager>