* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.grid-container{
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.user-grid {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.nombre {
  grid-column: 1/ 2;
}

.apellido {
  grid-column: 2 / 3;
}

.apellido2 {
  grid-column: 3 / 4;
}

.dni {
  grid-column: 1 / 2;
}
.usuario{
  grid-column: 2 / 3;
}
.contraseña{
  grid-column: 3 / 4;
}
.telefono {
  grid-column: 1 / 2;
}
.employmentStatus{
  grid-column: 2/3;
}
.status{
  grid-column: 3/4;
}
.comunidad{
  grid-column: 1/2;
}
.location{
  grid-column: 2/3;
}
.fechaCumple{
  grid-column: 3/4;
}
.email{
  grid-column: 1/2;
}
.emailCampus{
  grid-column: 2/3;
}
.fctSchool{
  grid-column: 3/4;
}

.tutor {
  grid-column: 2/3;
}

.fctStart {
  grid-column: 1/2;
}

.fctEnd {
  grid-column: 2/3;
}

.udemy {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.githubUser {
  grid-column: 1/2;
}
.notes{
  grid-column: 3/4;
}
o-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.aviso label{
  color:rgb(244, 67, 54);
  display: flex;
  font-size: 11px;
  height: 20PX;
  letter-spacing: normal;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  text-size-adjust: 100%;
  width: 542.453px
}
.aviso label mat-icon{
  padding-bottom: 10px;

}

.aviso label{
  color:rgb(244, 67, 54);
  display: flex;
  font-size: 11px;
  height: 20PX;
  letter-spacing: normal;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  text-size-adjust: 100%;
  width: 542.453px
}
.aviso label mat-icon{
  padding-bottom: 10px;
}

@media (max-width: 1250px) {

  .grid-container {
    width: 90%;
    padding: 15px;
    grid-template-columns: 1fr 1fr;
  }

  .nombre,
  .apellido2,
  .usuario,
  .telefono,
  .status,
  .location,
  .email,
  .fctSchool,
  .fctStart,
  .tutor{
   grid-column: 1/2 ;
  }
  .apellido,
  .dni,
  .contraseña,
  .employmentStatus,
  .comunidad,
  .fechaCumple,
  .emailCampus,
  .githubUser,
  .fctEnd,
  .udemy{
   grid-column: 2/3 ;
  }

  .notes{
    grid-column: 1/3;
  }


}
.checkbox-container {
  padding: 0;
}

.foto {
  grid-column: 2 / 3;
  /* Define la columna */
  grid-row: 0;
  /* Asegúrate de que esté en la fila 1 */
  justify-self: center;
  /* Centra horizontalmente */
  align-self: center;
  /* Centra verticalmente */
  margin-bottom: 40px;
}
.p_info_foto{
  margin-top: 30px;
  font-size: 12px;
}

fieldset {
  border-radius: 15px;
  padding: 20px;
  background-color: #f5f0f2;
  border: solid 1px #ccc;
  border-radius: 15px;
  border: solid 1px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px
}

.datos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-column: 1/3;
}

.datosPrincipales1 {
  grid-column: 1 / 2;
  padding: 20px 40px;
}


.datosPrincipales2 {
  grid-column: 2 / 3;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fct-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
  }

.fct-grid {
  border-radius: 15px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 20px;
  }
