<o-form-layout-manager  #formLayoutManager attr="commercialSectionLayout" mode="tab"  title="{{'Commercial Section' | oTranslate}}">
    <o-form-layout-tabgroup-options label-columns="name;surname1"></o-form-layout-tabgroup-options>
    <div class="table_container">
        <o-form editable-detail="no" show-header="no" layout-align="start stretch" class="commercial-filters-form" fxFill>
            <o-column-collapsible title="{{'FILTERS' | oTranslate}}" appearance="legacy" expanded="no" elevation="10"
                      icon="filter_list" class="collapsible-2">
    <div class="filter_style">
        <o-combo attr="bootcamps_id" class="bootcamp" label="Bootcamps" read-only="no" service="bootcamps" entity="futureBootcamp"
                keys="id" columns="id;name" value-column="id" query-on-init="true" searchable="yes"
                visible-columns="name" translate="yes" null-selection="true" sort="ASC" ></o-combo>

        <o-combo attr="student_status_id" label="LSTATUS" null-selection="true" service="studentstatus"
                 entity="studentStatus" keys="id" columns="id;status" value-column="id" visible-columns="status"
                 read-only="no" sort="ASC">
        </o-combo>

        <o-combo attr="status" label="LCONTACTSTATUS" null-selection="true" multiple="true"  [static-data]="dataArray" 
            service="students" entity="commercialStudent" columns="status"
            value-column="key" visible-columns="value"read-only="no" sort="ASC">
        </o-combo>

        <div class="centered-actions" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
            <o-button attr="clear" [oFilterBuilderClear]="commercialFilterBuilder" type="STROKED"
                      label="{{'CLEAR' | oTranslate}}" layout-padding color="primary">
            </o-button>
        </div>
    </div>

    <o-filter-builder #commercialFilterBuilder attr="thefilter"
                      filters="bootcamps_id:bootcamps_id;student_status_id:student_status_id;status:status"
                      [target]="tableCommercial" query-on-change="yes" query-on-change-delay="500"
                      [expression-builder]="createFilter">
    </o-filter-builder>
</o-column-collapsible>

            <div>
                <h1 class="titulo_tablas">{{ 'LCONTACTEDSTUDENTS' | oTranslate }}</h1>
            <o-table #tableCommercial virtual-scroll="false" class="general_table" attr="commercialTable" service="students" entity="commercialStudent"
                sort-columns="name" keys="id" columns="id;name;surname1;personal_email;surname2;dni;birth_date;phone;udemy;status;
                campus_email;fct_school;fct_start;fct_end;tutor;github_user;spain_comunity;location;bootcamps_id"
                visible-columns="name;surname1;surname2;personal_email;phone;status" insert-button="false" delete-button="false" pageable="true"
                show-report-on-demand-option="false" show-charts-on-demand-option="false" detail-mode="none" (onClick)="goToDetail($event)">
                <o-table-column attr="name" title="Name"></o-table-column>
                <o-table-column attr="surname1" title="FIRST_SURNAME"></o-table-column>
                <o-table-column attr="surname2" title="LAST_SURNAME"></o-table-column>
                <o-table-column attr="personal_email" title="Email"></o-table-column>
                <o-table-column attr="phone" title="LPHONE"></o-table-column>
                <o-table-column attr="status" title="LCONTACTSTATUS"></o-table-column>
                <o-table-paginator page-size="20" page-size-options="10;20;40"></o-table-paginator>
              </o-table>
            </div>
        </o-form>
    </div>
</o-form-layout-manager>
