 <!-- <o-form editable-detail="no" show-header="no">
 Combo que permite selección múltiple
  <o-combo
    #combo
    attr="combo-multiple"
    label="Country"
    [static-data]="dataArray"
    [data]="valueMultiple"
    value-column="key"
    columns="key;value"
    visible-columns="value"
    required="yes"
    read-only="false"
    layout-padding
    multiple="yes">
  </o-combo>
  <div fxLayout="row">
    <o-button attr="raised1" type="RAISED" label="Añadir" layout-padding></o-button>
  </div>
   Botón para mostrar los valores seleccionados en la consola
  <button (click)="getSelectedValues()">Obtener valores seleccionados</button>
</o-form>-->
<o-table attr="studentBootcampPrueba" service="studentbootcamp" entity="studentBootcamp" key="id"
    columns="id;student_id;bootcamp_id;bootcampname;start_date;end_date"
    visible-columns="student_id;bootcamp_id;bootcampname;start_date;end_date" query-rows="2">

    <o-table-column attr="student_id" title="Student ID"></o-table-column>
    <o-table-column attr="bootcamp_id" title="Bootcamp ID"></o-table-column>
    <o-table-column attr="bootcampname" title="Bootcamp Name"></o-table-column>
    <o-table-column attr="start_date" title="Start Date" type="date"></o-table-column>
    <o-table-column attr="end_date" title="End Date" type="date"></o-table-column>
</o-table>