<o-form editable-detail="no" show-header="no">
  <!-- Combo que permite selección múltiple -->
  <o-combo 
    #combo 
    attr="combo-multiple" 
    label="Country" 
    [static-data]="dataArray" 
    [data]="valueMultiple" 
    value-column="key" 
    columns="key;value" 
    visible-columns="value" 
    required="yes" 
    read-only="false" 
    layout-padding 
    multiple="yes">
  </o-combo>

  <!-- Botón para mostrar los valores seleccionados en la consola
  <button (click)="getSelectedValues()">Obtener valores seleccionados</button> -->
</o-form>
