  body{
    background-color: #1a3459;
  }
  .estudiantes {
    grid-column: 1 / -1;  
  }
  
  fieldset {
    border-radius: 15px;
    padding: 10px;
    background-color: #1a3459;
    border: solid 2px #7ec117;
    border-radius: 15px;
    margin: 10px;
  }
  legend{
    color: #7ec117;
  }

  @media (max-width: 1024px) {
    .grid-container {
      grid-template-columns: 1fr  ; 
    }
  }
  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  
  o-form {
    width: 100%;
    height: 100%;
    background-color: #1a3459;
  }
  .table_container {
    width: 100%;
    border-radius: 15px;
    height: auto;
  }
  
  .general_table{
    background-color: #f5f0f2;
    width: 100%;
    margin: 0;
    
  }
  
  .grid-container {
    background-color: #1a3459;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    height: auto;
  }
  
  
  
  