<o-form #bootcampDetailForm attr="bootcampsDetail" service="bootcamps" entity="bootcamp" keys="id"
    header-actions="R;U;D" show-header-navigation="no" confirm-exit="false">
    <o-text-input attr="id" sql-type="INTEGER" enabled="no" ></o-text-input>
    <div class="table_container">
        <o-form-layout-manager class="formestudiantestut" attr="addStudentLayout" mode="dialog">
            <o-form-layout-dialog-options class="popup">
                <h3>{{'STUDENTS_IN_BOOTCAMP'| oTranslate}}</h3>
                <o-table class="general_table" virtual-scroll="false" attr="studentsBootcampTable"
                    service="studentBootcamps" entity="studentsWithBootcamp" keys="id"
                    parent-keys="bootcamp_id:id;start_date;end_date"
                    columns="id;name;surname1;surname2;personal_email;student_id;status;sb_start_date;sb_end_date"
                    visible-columns="name;surname1;surname2;personal_email;status;sb_start_date;sb_end_date"
                    query-rows="10" show-report-on-demand-option="false" detail-mode="click" query-on-init="true"
                    pageable="true">
                    <o-table-column attr="sb_start_date" title="start_date" type="date"
                        format="DD/MM/YYYY"></o-table-column>
                    <o-table-column attr="sb_end_date" title="end_date" type="date"
                        format="DD/MM/YYYY"></o-table-column>
                    <o-table-paginator page-size="20" page-size-options="10;20;40">
                    </o-table-paginator>
                    <o-table-context-menu insert="false" edit="false" view-detail="false" delete="false">
                    </o-table-context-menu>
                </o-table>
            </o-form-layout-dialog-options>
        </o-form-layout-manager>
    </div>
</o-form>