* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
  body{
    background-color: #1a3459;
  }
  .estudiantes {
    margin: 50px 10px;  
  }
  
  fieldset {
    border-radius: 15px;
    padding: 10px;
    background-color: #1a3459;
    border: solid 2px #7ec117;
    border-radius: 15px;
    margin: 10px;
  }
  legend{
    color: #7ec117;
  }
  o-form {
    width: 100%;
    height: 100%;
    background-color: #1a3459;
    
  }
  .table_container {
    width: 100%;
    border-radius: 15px;
    height: auto;
    
  }
  
  .general_table{
    background-color: #f5f0f2;
    width: 100%;
    margin: 0;
    
  }

  .student-sesion-grid {
    border-radius: 15px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: center;
    }

    @media (max-width: 1200px) {
      .student-sesion-grid {
          grid-template-columns: 1fr; 
      }
  }