<div class="popup1" >
  <o-form #studentBootcampForm service="studentBootcamps" entity="studentBootcamp" editable-detail="no" show-header="no" confirm-exit="false"
    undo-button="false" label-header-align="center" after-insert-mode="new"
    (onDataLoaded)="candidate();inicialDR()">
    <o-text-input attr="bootcamp_id" sql-type="INTEGER" enabled="no" hidden = "true"></o-text-input>
    <label >{{ 'Estudiante*' | oTranslate }}</label>
    <o-combo attr="student_id" label="Students" value-column="id" columns="id;name;surname1;surname2" service="students" label-visible="false"
      entity="student" visible-columns="name;surname1;surname2" required="yes" searchable="yes" sortable="yes" sort="ASC" null-selection="no" >
    </o-combo>
    <label for="REQ_LSTATUS">{{'REQ_LSTATUS' | oTranslate}}</label>
    <o-combo attr="status" required="yes" label-visible="false" translate="yes" [static-data]="[
    { key: 'Candidato' },
    { key: 'Contactado' },
    { key: 'Confirmado' },
    { key: 'Cancelado' },
    { key: 'Activo' },
    { key: 'Finalizado contratable' },
    { key: 'Finalizado no contratable' },
    { key: 'No finalizado' }
  ]" value-column="key" columns="key" visible-columns="key" required="yes" null-selection="false">
    </o-combo>

    <div class="especial fecha-inicio">
      <o-date-input #startdate label-visible="false" class="fechas" attr="start_date" required="yes" format="DD/MM/YYYY" hidden="true"
       ></o-date-input>
    </div>

    <div class="especial fecha-fin">
      <o-date-input #enddate label-visible="false" attr="end_date" required="yes" hidden="true"
        format="DD/MM/YYYY">
      </o-date-input>
    </div>


    <div fxLayout="column" layout-padding>
        <label class="input-comp-title">{{ 'REQ_Fecha Inicio/Fecha Fin' | oTranslate }}</label>
        <o-daterange-input attr="dateRangeBootcamp" read-only="no"
          required="yes" format="DD/MM/YYYY"  automatic-binding="false" (onValueChange)="throwChange($event)"
          show-week-numbers="true" mode="desktop" label-visible="false" >
        </o-daterange-input>
    </div>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap>
      <o-button class="boton_popup" attr="addbutton" id="Add" type="RAISED" label="Add" color="primary"
        (click)="addStudentBootcamp()"></o-button>
    </div>

  </o-form>
</div>
