<o-form #studentBootcampForm service="studentBootcamps" entity="studentBootcamp"
    label-header="Añadir alumnos al bootcamp" undo-button="false" label-header-align="center">
    <o-text-input attr="bootcamp_id" sql-type="INTEGER" enabled="no" hidden="true"></o-text-input>
    <o-combo attr="student_id" label="Students" value-column="id" columns="id;name;surnames" service="students"
        entity="student" visible-columns="name;surnames" searchable="yes">
    </o-combo>
</o-form>
<o-button label="Add" (click)="addStudentBootcamp()"></o-button>
<o-button label="Return" (click)="navigateBack()"></o-button>