* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

o-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.grid-container {
  width: 90%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
  height: auto;
}

.general_table {
  width: 98%;
  margin: 0;
  box-shadow: 0px 0px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  height: auto;
}
.general_table {
  background-color: #f5f0f2;
}

.table_container{
  height: 100%;
}
.general_table {
  width: 100%;
  height: 100%;
}

.foto {
  grid-column: 1 / 3;
  /* Define la columna */
  grid-row: 0;
  /* Asegúrate de que esté en la fila 1 */
  justify-self: center;
  /* Centra horizontalmente */
  align-self: center;
  /* Centra verticalmente */
  margin-bottom: 10px;
}
.p_info_foto{
  margin-top: 30px;
  font-size: 12px;
  justify-self: center;
  align-self: center;
  margin-bottom: 30px;
}

.grid-container {
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 15px;
}


fieldset {
  border-radius: 15px;
  padding: 20px;
  background-color: #f5f0f2;
  border: solid 1px #ccc;
  border-radius: 15px;
  border: solid 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.datos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-column: 1/2;
  width: 100%;
}

.datosPrincipales1 {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.datosPrincipales2 {
  grid-column: 2 / 3;
}
.tabla{
  grid-column: 2/3;
  grid-row: 1/3;
  width: auto;
}

:host {
  display: flex;
  flex-direction: column;
  background-color: #1a3459;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1250px) {

  .datos,
  .tabla{
    grid-column: 1/4;
  }
  .tabla{
    grid-row: 3/4;
  }
  .datosPrincipales1,
  .datosPrincipales2{
    grid-column: 1/3;
  }

}
