<o-form #tutor_type_new attr="tutor_type_new" confirm-exit="no" service="tutortype" entity="tutorType" keys="id" show-header="no"
header-actions="R;I;U;D" show-header-navigation="no" (onInsert)="volver($event)" confirm-exit="no">
    <div class="grid-container">
        <div>
            <label for="REQ_LSITUATION">{{'REQ_LSITUATION' | oTranslate}}</label>
            <o-text-input label-visible="false" attr="type" required="yes" max-length="100"></o-text-input>
        </div>
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap style="margin-top: 10px;">
            <o-button attr="addbutton" id="Add" type="RAISED" label="Add" color="primary" (click)="tutor_type_new.insert()"></o-button>
        </div>
    </div>
</o-form>