/* You can add global styles to this file, and also import other style files */

.config-container .quickFilter {
  visibility: hidden;
}

.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
    }
  }
}


.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: white;
}

.mat-expansion-panel-header-title {
  color: #1a3459;
}

/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
}


.o-column > div.o-container .o-container-scroll.o-container-gap,
.o-row > div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

button.calendarcellStart span {
  background: #2E8B57;
  text-align:center;
  width: 100%;
  height: 89%;

  margin-top: 1.5px;
}

.my-tooltip {
  white-space: pre-line;
}

button.calendarcellEnd span {
  background: #DC143C;
  text-align:center;
  width: 100%;
  height: 89%;
  margin-top: 1.5px;
}

button.calendarcell{
  border-radius: 0px;
  margin: 0.1em 0em;
}
button.calendarcell span{
  background: lightgrey;
  text-align:center;
  width: 100%;
  height: 89%;
}
span.mat-calendar-body-cell-content{
  border-radius: 0px;
  font-size: large;
}

.table_container .general_table tr td, .table_container .general_table tr th {
  background-color: #f5f0f2;
  text-align: center;
  color: #caeeee;
}

mat-tab-body { background-color: #1a3459; }

.mat-mdc-text-field-wrapper {
  width: 100%;
  border: 0.5px solid #8AB237;
  border-radius: 10px;
}

.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.mat-accent,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.mat-accent,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.mat-primary,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base.mat-accent,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base.mat-accent,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.o-button-primary,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.o-button-default,
button.mat-mdc-raised-button.mat-primary,
.o-button button.mat-mdc-unelevated-button,
.o-button button.mat-mdc-button,
button.mat-mdc-outlined-button:not([disabled]).mat-mdc-button-base.mat-primary,
.o-button button.mat-mdc-outlined-button,
button.mat-mdc-outlined-button:not([disabled]).mat-mdc-button-base.mat-accent,
button.mat-mdc-outlined-button:not([disabled]).mat-mdc-button-base.mat-accent,
.list_container .o-list-container .add-button
{
  border: none;
  background-color: #8AB237;
  border-radius: 10px;
  color: #1a3459;
  box-shadow: none;
}

.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.mat-accent,
.o-form .o-form-toolbar button:not([disabled]).mat-mdc-button-base.mat-primary {
  border: none;
  background-color: #8AB237;
  border-radius: 10px;
}

.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base:hover,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.mat-accent:hover,
button.mat-mdc-raised-button.mat-primary:hover,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.o-button-primary:hover,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.o-button-default:hover,
.o-button button.mat-mdc-unelevated-button:hover,
.o-button button.mat-mdc-button:hover,
button.mat-mdc-outlined-button:not([disabled]).mat-mdc-button-base.mat-primary:hover,
.o-button button.mat-mdc-outlined-button:hover,
button.mat-mdc-outlined-button:not([disabled]).mat-mdc-button-base.mat-accent:hover,
.list_container .o-list-container .add-button:hover {
  border: 2px solid #8AB237;
  background-color: #1a3459;
  border-radius: 10px;
  color: #8AB237;
}

.o-form-toolbar-button button{
  border-radius: 10px;
  box-shadow: 0 0px 0px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: #d5e5e9;
}

.o-table .o-table-container .mat-mdc-table .mat-mdc-header-cell.start div{
  text-align: center ;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
  border-bottom-color: #1a3459;
}

.table_container .general_table .o-table-no-results span{
  color: black;
}

.general_table {
  width: 80%;
  margin: 20px auto;
  background-color: #f5f0f2;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.popup {
  width: 40%;
  border-radius: 15px;
}

.popup .general_table {
  width: 90%;
  margin: 20px auto;
  background-color: #f5f0f2;
  padding: 20px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
}

mat-calendar .mat-calendar-arrow {
  display: none;
}

.mat-mdc-tab-group.mat-mdc-tab-group .mat-mdc-tab-body-wrapper {
  background-color: #D5E5E9 ;
}

.mat-mdc-table{
  background-color: #f5f0f2;
}

.table_calendar .mat-calendar-previous-button.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
  display: none;
}
.table_calendar .mat-calendar-next-button.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
  display: none;
}

.table_calendar .mat-calendar-controls {
  display: flex;
  flex-direction: column;
}
label{
  color: #1a3459;
  font-size: 16px;
  font-weight: bold;
}

.mat-mdc-outlined-button[disabled][disabled] {
  --mdc-outlined-button-disabled-label-text-color: rgba(0, 0, 0, 0.514); // color texto
  --mdc-outlined-button-disabled-outline-color: rgba(0, 0, 0, 0.12); // color del borde
  background-color: #f5f0f2;

}


.mat-mdc-tab .mdc-tab__content {
 background-color: #1a3459 ;

}
.o-form-layout-tabgroup .mat-mdc-tab-group.o-tab-ontimize > .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab.mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #8AB237;
}
.mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-link .mdc-tab__text-label {
  color: white;
}

.mat-mdc-tab-group.o-tab-ontimize > .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab.mdc-tab--active span.tab-label span.gradient-layer {
  display: none;

}
.mat-mdc-tab-group.o-tab-ontimize > .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab span.tab-label span.gradient-layer{
  display: none;
}
.mat-mdc-tab-group.mat-mdc-tab-group .mat-mdc-tab-body-wrapper {
  background-color:#1a3459 ;
}
.collapsible-2 .mat-expansion-panel-header-title,
.collapsible-2 .mat-expansion-indicator::after{
  color: #f5f0f2;
}

.mat-drawer-container {
  color: #1a3459;
}
.o-user-info mat-icon {
  color: #1a3459; // color icono al lado de usuario
}
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container .sidenav-toggle { //icono menu hamburguesa
  color: #1a3459;
}
// SELECTOR MENU DE ARRIBA
// o-app-sidenav.o-app-sidenav .o-app-sidenav-container .o-app-header
// o-app-sidenav.o-app-sidenav.header-layout .o-app-sidenav-container .o-app-header {
//    background-color: #cd1111;
// }

.mat-drawer.o-app-sidenav-sidenav .o-app-sidenav-menuitem mat-icon:not(.o-app-sidenav-menugroup-arrow),
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav.mat-drawer-closed .o-app-sidenav-item:not(.o-user-info) {
  color: #1a3459;
}
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav:not(.mat-drawer-closed) .o-app-sidenav-menugroup mat-icon:not(.o-app-sidenav-menugroup-arrow),
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav:not(.mat-drawer-closed) .o-app-sidenav-menuitem mat-icon:not(.o-app-sidenav-menugroup-arrow),
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav:not(.mat-drawer-closed) .o-app-sidenav-menugroup .o-app-sidenav-menugroup-arrow{
  color: #1a3459;
}
.o-app-sidenav .o-app-sidenav-menu-group:not([disabled=true]) a.o-app-sidenav-viewer-sidenav-item-selected, .o-app-sidenav .o-app-sidenav-menu-item:not([disabled=true]) a.o-app-sidenav-viewer-sidenav-item-selected {
  border-left: 8px solid #8AB237;
}

.o-app-sidenav .o-app-sidenav-menu-item:not([disabled=true]) a:hover {
  border-left: 8px solid #8AB237;
}

.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container .o-app-sidenav-menu-group-level-1 a:hover{
  border-left: 8px solid #8AB237;
}

.mat-mdc-tab-group .mdc-tab.mdc-tab--active, .mat-mdc-tab-group .mat-mdc-tab-link.mdc-tab--active {
  opacity: 1;
}

.o-app-sidenav-image {
  width: 90%;
  padding-bottom: 10px;
  margin: auto;
}

.sidenav-toggle-container+.o-app-sidenav-image .o-app-sidenav-image-container {
  margin-top: 0;
}

.titulo_tablas {
  color: #8AB237;
  text-align: center;
  padding: 3px 0;
}


.o-image .o-image-content .o-image-display-container.o-image-drag-and-drop:not(.o-image-drag-and-drop-required) {
background: none;
}
.list_container .o-list-container {
  position: relative;
}

.list_container .o-list-container .add-button {
  position: absolute;
  right: 10px;
  top: -40px;
  background-color: #8AB237;
  color: #1a3459;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

o-column.o-column .o-container > .o-container-title span{
  color: #1a3459;
}

.timetable_table .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
  display: none;
}


.mat-mdc-tab-group .mdc-tab.mdc-tab--active .mdc-tab__text-label, .mat-mdc-paginator span.mdc-tab__text-label{
  color: #8AB237;
}
.mat-mdc-tab-group .mdc-tab.mdc-tab--active .mdc-tab__content{
  color: #8AB237;
}

.mat-mdc-tab-group.mat-success .mdc-tab--active .mdc-tab-indicator__content--underline {
  background-color: #8AB237 ;
}

.mat-mdc-tab-group.mat-success .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-group.mat-success .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-nav-bar.mat-success .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-nav-bar.mat-success .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color: var(--mdc-tab-indicator-active-indicator-color, #8AB237) ;
}
.application-layout-content-wrapper .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs{
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1a3459;

  margin: 16px;
}
.o-form .o-form-toolbar .o-form-toolbar-header
.mat-toolbar-tools .o-form-toolbar-button, .o-form .o-form-toolbar
.o-form-toolbar-header .mat-toolbar-tools .o-form-toolbar-button[disabled]{
  border-radius:10px;
}
.o-form .o-form-toolbar button.mat-mdc-outlined-button, .ontimize-table.o-table .o-table-container
 .o-table-toolbar .buttons .o-table-button button.mat-mdc-outlined-button{
  border-radius: 10px;
 }





 .mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary, .mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #7ec117;
  --mat-mdc-fab-color: #1a3459;
  margin-bottom: 20px;
}

.o-table .o-table-container .mat-mdc-table .mat-mdc-row .mat-mdc-cell {
   text-align: center;
 }
 input[type="checkbox"]:checked {
  accent-color: #8AB237;
}



.mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}

.mat-mdc-card{
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

 mat-list-item .mat-mdc-list-item-title {
  color:  #7ec117; 
  font-size: 20px;
  --mdc-list-list-item-hover-label-text-color: #7ec117;
  
}
