/* You can add global styles to this file, and also import other style files */
.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
    }
  }
}

/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
}


.o-column > div.o-container .o-container-scroll.o-container-gap,
.o-row > div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

button.calendarcellStart span {
  background: #2E8B57;
  text-align:center;
  width: 100%;
  height: 89%;

  margin-top: 1.5px;
}

button.calendarcellEnd span {
  background: #DC143C;
  text-align:center;
  width: 100%;
  height: 89%;
  margin-top: 1.5px;
}

button.calendarcell{
  border-radius: 0px;
  margin: 0.1em 0em;
}
button.calendarcell span{
  background: lightgrey;
  text-align:center;
  width: 100%;
  height: 89%;
}
span.mat-calendar-body-cell-content{
  border-radius: 0px;
  font-size: large;
}

.table_container .general_table tr td, .table_container .general_table tr th {
  background-color: #f5f0f2;
  text-align: center;
  color: #caeeee;
}


mat-tab-body { background-color: #d5e5e9; }

.mat-mdc-text-field-wrapper {
  width: 100%;
  border: 2px solid #d5e5e9;
  border-radius: 10px;
}

.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base,
.mat-mdc-dialog-actions button:not([disabled]).mat-mdc-button-base.mat-accent,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base,
.o-form .o-form-toolbar button:not([disabled]).o-form-toolbar-button.mat-mdc-button-base.mat-accent,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base,
.o-grid .o-grid-toolbar button.o-grid-button:not([disabled]).mat-mdc-button-base.mat-accent,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base,
.o-list .o-list-toolbar button.o-list-button:not([disabled]).mat-mdc-button-base.mat-accent,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base,
.ontimize-table.o-table .o-table-container .o-table-toolbar .buttons .o-table-button button:not([disabled]).mat-mdc-button-base.mat-accent {
  border: 2px solid #d5e5e9;
  border-radius: 10px;
}
.o-form-toolbar-button button{
  border-radius: 10px;
  box-shadow: 0 0px 0px;


}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: #d5e5e9;
}

.o-table .o-table-container .mat-mdc-table .mat-mdc-header-cell.start div{
  text-align: center ;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
  border-bottom-color: #f64983;
}

.table_container .general_table .o-table-no-results span{
  color: black;
}

.general_table {
  width: 80%;
  margin: 20px auto;
  background-color: #f5f0f2;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}



.popup .general_table {
  width: 90%;
  margin: 20px auto;
  background-color: #f5f0f2;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

mat-calendar .mat-calendar-arrow {
  display: none;
}

.selectedrow .o-table .o-table-container .mat-mdc-table .mat-mdc-row.selected {
  text-decoration: line-through;
}

.mat-mdc-tab-group.mat-mdc-tab-group .mat-mdc-tab-body-wrapper {
  background-color: #D5E5E9 ;
}

.mat-mdc-table{
  background-color: #f5f0f2;
}

.gridcalendario .mat-calendar-previous-button.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
  display: none;
}
.gridcalendario .mat-calendar-next-button.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
  display: none;
}
.gridcalendario .mat-calendar-controls {
  display: flex;
  flex-direction: column;
}
