/* You can add global styles to this file, and also import other style files */
.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
    }
  }
}

/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
}


.o-column > div.o-container .o-container-scroll.o-container-gap,
.o-row > div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

button.calendarcellStart span {
  background: #2E8B57;
  text-align:center;
  width: 100%;
  height: 89%;

  margin-top: 1.5px;
}

button.calendarcellEnd span {
  background: #DC143C;
  text-align:center;
  width: 100%;
  height: 89%;
  margin-top: 1.5px;
}

button.calendarcell{
  border-radius: 0px;
  margin: 0.1em 0em;
}
button.calendarcell span{
  background: lightgrey;
  text-align:center;
  width: 100%;
  height: 89%;
}
span.mat-calendar-body-cell-content{
  border-radius: 0px;
  font-size: large;
}

.table_container .general_table tr td, .table_container .general_table tr th {
  background-color: #d5e9de;
  text-align: center;
  color: #2f4f4f;
}




