<o-form-layout-manager attr="bootcampsLayout" mode="tab" label-columns="name" title="Bootcamps">
  <div>
    <h1 class="titulo_tablas">{{ 'Bootcamps' | oTranslate }}</h1>
    <o-table
        class="general_table"
        attr="bootcampsTable" service="bootcamps"
        entity="bootcamp" keys="id"
        columns="id;name;start_date;end_date;status;codigo;op;students_summary"
        visible-columns="name;start_date;end_date;status;codigo;students_summary"
        sort-columns="end_date:DESC"
        show-report-on-demand-option="false"
        show-charts-on-demand-option="false"
        delete-button="false"
        refresh-button="true"
        virtual-scroll="false"
        pageable="true"
        >

        <o-table-paginator
        page-size="20"
        page-size-options="10;20;40">
        </o-table-paginator>

        <o-table-context-menu
        insert="false" edit="false"
        view-detail="false" delete="false">
        </o-table-context-menu>

        <o-table-column
        attr="name" title="name"
        type="string" content-align="center"
        title-align="center"
        ></o-table-column>

        <o-table-column
        attr="status" title="status"
        type="string" content-align="center"
        title-align="center"
        tooltip="yes" tooltip-value="{{'BT_STATUS_TT'|oTranslate}}"
        ><o-table-cell-renderer-translate></o-table-cell-renderer-translate>
      </o-table-column>

        <o-table-column
        attr="start_date" title="start_date"
        type="date" format="DD/MM/YYYY"
        content-align="center" title-align="center"
        >
        </o-table-column>

        <o-table-column
        attr="end_date" title="end_date"
        type="date" format="DD/MM/YYYY"
        content-align="center" title-align="center"
        >
        </o-table-column>
        <o-table-column 
        attr="codigo" title="LCODE"
        type="varchar" content-align="center" title-align="center"
        >
        </o-table-column>
        <o-table-column 
        attr="op" title="op"
        type="varchar" content-align="center" title-align="center"
        >
        </o-table-column>
        </o-table>
  </div>
  </o-form-layout-manager>
