<div class="calendar-timestamps-container">
    <div class="calendar-container">
        <div class="button-container">
            <o-button (click)="openAttendanceDialog()" label="Multiple Selection"></o-button>
            <o-button (click)="goToToday()" label="today"></o-button>
            <o-button (click)="onButtonClick()" label="AttendanceSave"></o-button>
        </div>

        <ng-template #attendanceDialog>
          <h1 mat-dialog-title class="center-select h1-spacing">{{'Registrar Asistencia' | oTranslate}}</h1>
          <mat-dialog-content>
              <div class="center-content">
                  <mat-form-field class="fixed-size">
                      <mat-label>{{ 'Seleccionar Rango de Fechas' | oTranslate }}</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Fecha de inicio" [(ngModel)]="selectedStartDate">
                          <input matEndDate placeholder="Fecha de fin" [(ngModel)]="selectedEndDate">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
              </div>
              <div class="center-content">
                  <mat-form-field class="fixed-size">
                      <mat-label>{{'LSTATUS' | oTranslate}}</mat-label>
                      <mat-select [(ngModel)]="selectedStatus" required>
                          <mat-option *ngFor="let status of statusData" [value]="status.id">
                              {{ status.abbreviation }} - {{ status.description }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <mat-label class="warning">
                  <mat-icon>warning</mat-icon>
                  {{'Esta acción sobreescribirá todos los registros de asistencia en ese rango de días.' | oTranslate}}
              </mat-label>
          </mat-dialog-content>
          <mat-dialog-actions class="center-select">
              <button mat-button mat-dialog-close>{{'Cancelar' | oTranslate}}</button>
              <button mat-raised-button (click)="submitAttendance()">{{'Save' | oTranslate}}</button>
          </mat-dialog-actions>
      </ng-template>


        <div class="date-item-container">
            <o-button color="white" (click)="decSelectedWeek()" icon="arrow_back"></o-button>
            <div class="years" *ngFor="let year of years">
                <div class="months">
                    <div *ngIf="isSameMonthRange()">
                        <div class="date-item month">
                            {{ getMonthName(startDate) }} {{ startDate | date: 'yyyy' }}
                        </div>
                    </div>
                    <div *ngIf="!isSameMonthRange()">
                        <div class="two-months">
                            <span>{{ getMonthName(startDate) }} {{ startDate | date: 'yyyy' }}</span>
                            <span>{{ getMonthName(endDate) }} {{ endDate | date: 'yyyy' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <o-button color="white" (click)="incSelectedWeek()" icon="arrow_forward"></o-button>
        </div>

        <div class="date-item-container days" [ngStyle]="{'grid-template-columns': updateDayGridColumns()}">
            <div class="student days">{{'Alumno' | oTranslate}}</div>
            <div *ngFor="let dayWithWeekDays of daysWithWeekDays" class="date-item day" [ngStyle]="{
                        'background-color': isWeekend(dayWithWeekDays.dayOfWeek) ? '#C0C0C0' : updateDayCSSForCurrentDay(dayWithWeekDays.day),
                        'color': isWeekend(dayWithWeekDays.dayOfWeek) ? '#1a3459' : updateDayCSSFontColorForCurrentDay(dayWithWeekDays.day),
                        'font-weight': updateDayCSSFontWeightForCurrentDay(dayWithWeekDays.day)
                    }">
                <div>{{dayWithWeekDays.day}}</div>
                <div>{{dayWithWeekDays.dayOfWeek}}</div>
            </div>
        </div>
       <div class="calendar">
        <div
          *ngFor="let student of students"
          class="student_row days"
          [ngStyle]="{'grid-template-columns': updateDayGridColumns()}"
        >
          <div>
            {{ student.name }} {{ student.surname1 }} {{ student.surname2 }}
          </div>
          <div *ngFor="let dayWithWeekDay of daysWithWeekDays">
            <div
              class="center-select"
              *ngIf="isBootcampInRange(dayWithWeekDay.fullDate)"
              [matTooltip]="getSelectedTooltip(student, dayWithWeekDay)"
              matTooltipPosition="below"

            >
              <!-- MAT-SELECT CORREGIDO -->
              <mat-select
                class="custom-select"
                [ngStyle]="{
                  'background-color': getBackgroundColor(
                    getAbbreviationByStatusId(
                      getAttendanceOfDay(student.student_id, dayWithWeekDay.fullDate)
                    )
                  )
                }"
                [value]="getAttendanceOfDay(student.student_id, dayWithWeekDay.fullDate)"
                (selectionChange)="onSelectChange($event, student, dayWithWeekDay)"
              >
                <mat-option
                  *ngFor="let status of statusData"
                  [value]="status.id"
                  [ngStyle]="{ 'background-color': getBackgroundColor(status.abbreviation) }"
                >
                  {{ status.abbreviation }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>

