.tutores {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.tutores div[mat-card-avatar] {
  grid-column: 1;
  width: 100%;
}

.tutores mat-card-title,
.tutores mat-card-subtitle {
  grid-column: 2;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%;
}

.tutores mat-card-title a{
  cursor: pointer;
}

.tutores .boton_detalle {
  grid-column: 3;
  justify-self: center;
}

.tutores .boton_eliminar {
  grid-column: 4;
  justify-self: center;
}



.boton_eliminar {
  border: none;
  background-color: #F5F0F2;
  border-radius: 10px;
  box-shadow: none;


}

.boton_eliminar svg {
  z-index: 1;
  height: 30px;
  width: 30px;
  fill: #f24444;
  justify-content: center;
  align-items: flex-end;

}


.boton_detalle {
  border: none;
  background-color: #F5F0F2;
  border-radius: 10px;
  box-shadow: none;

}

.boton_detalle svg {
  z-index: 1;
  height: 30px;
  width: 30px;
  fill: gray;
  justify-content: center;
  align-items: flex-end;

}



* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

o-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


h3 {
  color: #1a3459;
  font-size: 16px;
  font-weight: bold;
}

.tab {
  margin-top: 25px;

}

.grid-container {
  width: 96%;
  margin: 5px auto;
  border-radius: 15px;
}

.general_container {
  margin-top: 25px;
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  width: 98%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 10px;
  height: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f5f0f2;
  grid-template-rows: auto;
  gap: 10px;
  padding: 20px;
}

.nombre {
  grid-column: 1 / 2;
  grid-row: 1;
}

.daterange {
  grid-column: 2 / 3;
  grid-row: 1;
}

.codigo {
  grid-column: 3 / 4;
  grid-row: 1;
}

.op {
  grid-column: 4 / 5;
  grid-row: 1;
}

.descripcion {
  grid-column: 1/3;
  grid-row: 2;
  width: 100%
}

.notas {
  grid-column: 3 / 5;
  grid-row: 2;
}

.gridHorario {
  grid-column: 1/2;
  width: 100%;
}

.gridUpload {
  grid-column: 2/3;
  width: 100%;
}



.list_container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}

.formestudiantestut {
  max-height: 93%;
  height: 100%;
}

.table_container {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}

.general_table {
  box-shadow: none;
  width: 100%;
  height: auto; 
  overflow-x: auto; 
  background-color: #f5f0f2;
  padding: 20px 0;
}

.input-button-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;

}

.o-file-input {
  margin-top: 10px;
  grid-column: 1/2;
}

.o-form-toolbar-button {
  margin-top: 10px;
  width: 30%;
  grid-column: 2/3;
  margin-left: 20%;
}

.title {
  font-size: 30px;
  padding: 30px;
  text-align: center;
}


.gridcalendario {
  grid-column: 1 / 3;
}

.calendar-container,
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

:host {
  display: flex;
  flex-direction: column;
  background-color: #1a3459;
  height: 100%;
  overflow: hidden;
}


.calendar-container {
  display: contents;
  margin-top: 10px;
  max-height: 100vh;
  padding-bottom: 20px;
}

.button-container {
  min-height: 200px;
}


.calendar-card {
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 5px;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% / 6 - 40px);
  min-width: 250px;
  max-width: 250px;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 45px;
}

mat-calendar {
  width: 100%;
  font-size: 0.9em;
  pointer-events: none;
  overflow: hidden;
}

mat-calendar .mat-calendar-body-cell {
  max-width: 100%;
  max-height: 100%;
}

mat-calendar .mat-calendar-arrow {
  display: none;
}

div.notification label {
  background-color: #8AB237;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.notification.hide {
  opacity: 0;
}

.form-class {
  width: 100%;
  height: 100%;
}

.table_containerfichero {
  width: 98%;
  overflow-x: hidden;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 10px;
}

.table_containerhorarios {
  width: 98%;
  overflow-x: hidden;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 10px;
}

.input-button-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.o-flie-input {
  grid-column: 1/2;
}

.o-form-toolbar-button {
  grid-column: 2/3;
  width: 60%;
  margin-left: 20%;
}

.table_calendar {
  width: 98%;
  height: 100%;
  margin: 0;
  margin-top: 25px;
  border-radius: 15px;
  padding: 20px;
  padding-top: 0%;
}

.table_ficheros {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  margin: 0;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}

.table_horario {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  margin: 0;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}

.timetable_table {
  background-color: #f5f0f2;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

@media (max-width: 1400px) {

  .table_container{
    overflow: visible;
    padding-bottom: 40px;
  }
  .list_container{
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    overflow: visible;
  }

  .list_container mat-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 16px;
    box-sizing: border-box;
    display: inline-flex;
    box-shadow: none;
  }



  .grid-container,
  .table_container {
    width: 100%;
    padding: 15px;
    grid-template-columns: 1fr;
  }

  .general_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .nombre {
    grid-column: 1/2;
    grid-row: 1;
  }

  .daterange {
    grid-column: 2/3;
    grid-row: 1;
  }

  .codigo {
    grid-column: 1/2;
    grid-row: 2;
  }

  .op {
    grid-column: 2/3;
    grid-row: 2;
  }

  .descripcion {
    grid-column: 1/3;
    grid-row: 3;
  }

  .notas {
    grid-column: 1/3;
    grid-row: 4;
  }

  .calendar-card {
    width: 100%;
    .table_container,
    .list_container {
      width: 100%;
    }

    .o-table,
    .o-list {
      max-width: 100%;
      overflow-x: auto;
    }

    .mat-card {
      width: 100%;
      margin-bottom: 15px;
    }

    .boton_eliminar {
      margin: 0 auto;
    }
  }
}

mat-calendar {
  width: 100%;
  font-size: 0.9em;
  pointer-events: none;
  overflow: hidden;
}

mat-calendar .mat-calendar-body-cell {
  max-width: 100%;
  max-height: 100%;
}

mat-calendar .mat-calendar-arrow {
  display: none;
}

.timetable_table {
  background-color: #f5f0f2;
  font-family: 'Roboto', sans-serif;
  height: auto;
}

o-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;


}

.tutores {
  background-color: #f5f0f2;
  box-shadow: none;
  padding-top: 20px;
  overflow: hidden;
}


div.notification label {
  background-color: #8AB237;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.notification.hide {
  opacity: 0;
}

.form-class {
  width: 100%;
  height: 100%;
}

.timetable_table {
  background-color: #f5f0f2;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  margin: 0;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}
.table_sesions{
  background-color: #f5f0f2;
  font-family: 'Roboto', sans-serif;
  height: auto;
}

o-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.tutores {
  background-color: #f5f0f2;
  box-shadow: none;
  padding-top: 20px;
}

::ng-deep o-table .highlight-today {
  background-color: #89b23713; /* Color de fondo suave (un azul muy claro) */
}

.check-filtro{
  background-color: #F5F0F2;
}
.toggle{
  padding: 3px;
  background-color: #F5F0F2;
}

.toggle {
  overflow: hidden; 
  display: flex;
  align-items: center;
}

.aligned-container {
  display: flex;
  justify-content: space-between;
  padding: 25px; 
  background-color: #f5f0f2; 
}

.pa2{
  display: none;
}
.boton_eliminar:hover .pa2{
  display: block;
}
.boton_eliminar:hover .pa1{
  display: none;
}
.cont-bot{
  padding-top: 16px ;
  padding-right: 0px;
}