<o-form #bootcampDetailForm attr="bootcampsDetail" service="bootcamps" entity="bootcamp" keys="id" header-actions="R;I;U;D"
  (onUpdate)="volver($event)" (onDelete)="volver($event)" show-header-navigation="no" confirm-exit="false"
  (onDataLoaded)="onBootcampChange($event);inicialDR()" >
  <o-text-input attr="id" sql-type="INTEGER" enabled="no" hidden = "true"></o-text-input>

  <div class="grid-container">
    <div class="especial nombre">
      <label for="LNAME">{{'LNAME' | oTranslate}}</label>
      <o-text-input label-visible="false" attr="name" required="yes"></o-text-input>
    </div>
    <div class="especial fecha-inicio" hidden="true">
      <!-- <label for="LSTARTDATE">{{'LSTARTDATE' | oTranslate}}</label> -->
      <o-date-input #startdate label-visible="false" class="fechas" attr="start_date" hidden="true" required="yes" format="DD/MM/YYYY"
       ></o-date-input>
    </div>
    <div class="especial fecha-fin"  hidden="true">
      <!-- <label for="LENDDATE">{{'LENDDATE' | oTranslate}}</label> -->
      <o-date-input #enddate label-visible="false" attr="end_date" required="yes" hidden="true" [validators]="validatorsArray"
        format="DD/MM/YYYY" >
        <o-validator error-name="wrongendate" error-text="END_DATE_MORE_THAN_INIT_DATE"></o-validator>
      </o-date-input>
    </div>
    
    <div>
      <label class="input-comp-title">{{ 'Fecha Inicio/Fecha Fin*' | oTranslate }}</label>
      <o-daterange-input #dateRange attr="dateRangeBootcampDetail" read-only="no" 
        required="yes" format="DD/MM/YYYY"  automatic-binding="false" (onValueChange)="throwChange($event)"
        show-week-numbers="true" mode="desktop" label-visible="false">
      </o-daterange-input>
  </div>
    <div class="especial descripcion">
      <label for="LDESPCRIPTION">{{'LDESPCRIPTION' | oTranslate}}</label>
      <o-textarea-input label-visible="false" attr="description" required="no" max-length="200"></o-textarea-input>
    </div>
    <div class="especial notas">
      <label for="LNOTE">{{'LNOTE' | oTranslate}}</label>
      <o-textarea-input label-visible="false" attr="notes" required="no" max-length="200"></o-textarea-input>
    </div>
      <o-column-collapsible class="gridcalendario" title="{{'CALENDAR' | oTranslate}}" appearance="legacy" expanded="no" icon="calendar_today" elevation="2">
        <div class="table_container">
          <div class="calendar-container">
            <div class="container" *ngIf="months.length > 0">
              <div class="button-container">
                <mat-card class="calendar-card" *ngFor="let month of months">
                  <mat-calendar [dateClass]="dateClass" #picker [startAt]="month">
                  </mat-calendar>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </o-column-collapsible>
  </div>

  <div class="table_container" fxLayout="column" fxLayoutFill>
    <o-form-layout-manager attr="addStudentLayout" mode="dialog" title="Student" virtual-scroll="false">
      <o-form-layout-dialog-options class="popup" >
        <o-table class="general_table" virtual-scroll="false" attr="studentsBootcampTable" service="studentBootcamps"
          entity="studentsWithBootcamp" keys="id" parent-keys="bootcamp_id:id;start_date;end_date"
          columns="id;name;surname1;surname2;personal_email;student_id;status;sb_start_date;sb_end_date;action"
          visible-columns="name;surname1;surname2;personal_email;status;sb_start_date;sb_end_date;action" sort-columns="name" query-rows="10"
          show-report-on-demand-option="false" show-charts-on-demand-option="false" select-all-checkbox-visible="true" selection-mode="none" detail-mode="click">
          <o-table-column attr="sb_start_date" title="Start Date" type="date" format="DD/MM/YYYY"></o-table-column>
          <o-table-column attr="sb_end_date" title="End Date" type="date" format="DD/MM/YYYY"></o-table-column>
          <o-table-paginator page-size="20" page-size-options="10;20;40">
          </o-table-paginator>
          <o-table-column attr="action" width="64px">
            <o-table-cell-renderer-action (onClick)="goToStudentDetail($event)"
              icon="person_search"></o-table-cell-renderer-action>
          </o-table-column>
          <o-table-context-menu insert="false" edit="false" view-detail="false" delete="false">
          </o-table-context-menu>
        </o-table>
      </o-form-layout-dialog-options>
    </o-form-layout-manager>
  </div>
</o-form>
