* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

o-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

label {
  display: block;
  margin: 10px 0 10px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #dc2955;
}

.grid-container,
.table_container {
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  height: auto;
}

.nombre {
  grid-column: 1 / 2;
}

.fecha-inicio {
  grid-column: 2 / 3;
}

.fecha-fin {
  grid-column: 3 / 4;
}

.descripcion {
  grid-column: 1 / 2;
}

.notas {
  grid-column: 2 / 4;
}

.table_container {
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.general_table {
  background-color: #f5f0f2;
}

@media (max-width: 768px) {
  .grid-container,
  .table_container {
    width: 98%;
    padding: 15px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .nombre,
  .fecha-inicio,
  .fecha-fin,
  .descripcion,
  .notas {
    grid-column: auto;
  }
}

/* Estilos principales para centrar */
.prueba {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 10px;
}

/* Calendario */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Asegura que ocupen espacio en línea */
  gap: 10px; /* Espacio entre calendarios */
  justify-items: center; /* Centra los calendarios en su celda */
  max-width: 100%; /* Limita el ancho del contenedor */
}

.calendar-card {
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 5px; 
  font-family: 'Roboto', sans-serif; 
  font-size: 10px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; /* Ancho del calendario */
  height: 100%;
}

mat-calendar {
  width: 100%; /* Ancho del calendario dentro de la card */
  font-size: 0.9em;
  pointer-events: none;
}




