* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

o-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.grid-container,
.table_container {
  width: 96%;
  margin: 5px auto;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  gap: 10px;
}

.table_container {
  max-height: 800px;
  padding: 30px;
}

.general_container{
  display:grid;
  grid-template-columns: 2fr 1fr;
  width: 96%;
  margin: 5px auto;
  border-radius: 15px;

}

.list_container{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 105%;
  margin: 0;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
  margin-left: 10%;
}

.table_container{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 105%;
  margin: 0;
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 20px;
}

.general_table{
  width: 98%;
  grid-column: 1/2;
  margin: 0;
}

.title{
  font-size:30px;
  padding: 30px;
  text-align: center;
}


.nombre {
  grid-column: 1 / 2;
}

.fecha-inicio {
  grid-column: 2 / 3;
}

.fecha-fin {
  grid-column: 3 / 4;
}

.descripcion {
  grid-column: 1 / 2;
}

.notas {
  grid-column: 2 / 4;
}

.gridcalendario {
  grid-column: 1 / 4;
}

.calendar-container,
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.calendar-container {
  align-items: flex-start;
  margin-top: 10px;

  max-height: 100vh;
  padding-bottom: 20px;
}

.button-container {
  min-height: 200px;
}


.calendar-card {
  background-color: #f5f0f2;
  border-radius: 15px;
  padding: 5px;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% / 6 - 40px);
  min-width: 250px;
  max-width: 250px;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 45px;
}
.general_table{
  box-shadow: none;
  width: 100%;
}

@media (max-width: 768px) {
  .grid-container,
  .table_container {
    width: 98%;
    padding: 15px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .nombre,
  .fecha-inicio,
  .fecha-fin,
  .descripcion,
  .notas {
    grid-column: auto;
  }

  .calendar-card {
    width: 100%;
  }
}


mat-calendar {
  width: 100%;
  font-size: 0.9em;
  pointer-events: none;
  overflow: hidden;
}

mat-calendar .mat-calendar-body-cell {
  max-width: 100%;
  max-height: 100%;
}

mat-calendar .mat-calendar-arrow {
  display: none;
}
