<o-form #employment_status_details confirm-exit="no" attr="employment_status_details" service="employmentstatus" entity="employmentStatus" keys="id" show-header="no"
    header-actions="I;U;D" show-header-navigation="no" >
    <o-text-input attr="id" sql-type="INTEGER" enabled="no" hidden></o-text-input>

    <div class="grid-container">
        <div class="textMargi">
            <label for="REQ_LEMPLOYMENTSTATUS">{{'REQ_LEMPLOYMENTSTATUS' | oTranslate}}</label>
            <o-text-input label-visible="false" attr="situation" required="yes"></o-text-input>
        </div>
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap style="margin-top: 10px;">
            <o-button translate="yes" attr="updatebutton" id="update" type="RAISED" label="update" color="primary" (click)="employment_status_details.update();employment_status_details.closeDetail()"></o-button>
        </div>
    </div>
</o-form>
