<o-form-layout-manager mode="dialog" store-state="no" title="Routes" label-columns="permissionid" attr="o-form-layout-routes-home"
  title-data-origin="routes_form_edit" fxFill>
  <o-form-layout-dialog-options height="60%" width="60%"></o-form-layout-dialog-options>
  <o-form show-header="no" query-on-init="no" fxFill>
    <o-table attr="routes" service="contentpermissions" entity="route" keys="id"
      columns="id;permissionid;enabled;id_rolename;rol_name"
      visible-columns="permissionid;enabled;rol_name"
      sort-columns="permissionid" query-on-init="yes"
      insert-button="yes" delete-button="yes" refresh-button="no"
      select-all-checkbox-visible="yes" fixed-header="yes" query-rows="25" class="home-table" fxFlex export-mode="local">
      <o-table-column attr="enabled" title="enabled" type="boolean"
        render-true-value="check_circle" render-false-value="block" render-type="icon" boolean-type="boolean"></o-table-column>
    </o-table>
  </o-form>
</o-form-layout-manager>
