<o-form #employment_status_history_new  confirm-exit="no" attr="employment_status_history_details" service="employmentstatushistory" entity="employmentStatusHistory" keys="id" show-header="no"
    header-actions="I;U;D" show-header-navigation="no" (onInitialMode)="inicialDate()">
    <o-text-input attr="id" sql-type="INTEGER" enabled="no" hidden></o-text-input>

    <div class="grid-container">
        <div class="textMargi">
            <label for="REQ_LEMPLOYMENTSTATUS">{{'REQ_LEMPLOYMENTSTATUS' | oTranslate}}</label>
            <o-combo attr="employment_status_id" class="textMargi" label="LEMSTATUS" required="no" translate="yes"
            null-selection="true" read-only="false" service="employmentstatus"
            entity="employmentStatus" keys="id" columns="id;situation" value-column="id"
            description-columns="situation" query-on-init="true">
        </o-combo>
        </div>

        <div class="textMargi">
            <label for="REQ_DATE">{{'REQ_DATE' | oTranslate}}</label>
            <o-date-input #status_date label-visible="false" class="textMargi" attr="status_date_change" required="yes"  read-only="no"
            required="yes" format="DD/MM/YYYY"  automatic-binding="false" text-input-enabled="no"
            show-week-numbers="true" mode="desktop" label-visible="false"></o-date-input>
        </div>

        <div class="textMargi">
            <label for="DESCRIPTION">{{'description' | oTranslate}}</label>
            <o-text-input label-visible="false" class="textMargi" attr="description" required="no"></o-text-input>
        </div>

        <div fxLayout="row" fxLayoutGap="16px" fxLayoutWrap style="margin-top: 10px;">
            <o-button attr="addbutton" id="Add" type="RAISED" label="Add" color="primary" (click)="employment_status_history_new.insert()"></o-button>
        </div>
    </div>
</o-form>
